@import "bootstrap";

.container {
  margin-left: 50px;
}

textarea {
  width: 400px;
  height: 80px;
}

p.toggle-login {
  float: right;
  margin-right: 20px;
}

p.lead > a {
  color: black;
}

span.small-link {
  font-size: 12px;
  color: gray;
}

div.page-header > h1 {
  color: orange;
  margin-left: 10px;
}